<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstQuestion</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/QuestionArea.css">
</head>
<body>
<div w3-include-html="testMiddle"></div>
<p>나는 운명을 믿지 않는다.</p>
    <button onclick="location.href='/Test/fourth4'">(3-4)a</button>
    <br>
    <br>
    <button onclick="location.href='/Test/fourth3'">(3-4)b</button>
    <br>
    <br>

</body>
<script>
    includeHTML();
</script>
</html>