<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstQuestion</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/QuestionArea.css">
</head>
<body>
<div w3-include-html="testMiddle"></div>
    <p>나는 사람들과 대화할 때 주로 듣는 편이다.</p>
    <button onclick="location.href='/Test/second4'">(1-4)a</button>
    <br>
    <br>
    <button onclick="location.href='/Test/second3'">(1-4)b</button>
    <br>
    <br>

</body>
<script>
    includeHTML();
</script>
</html>