<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstQuestion</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/QuestionArea.css">
</head>
<body>
<div w3-include-html="testMiddle"></div>
    <p>눈치가 빠르다는 말을 듣는 편이다.</p>
<div class="button_div">
    <button id="yes" onclick="location.href='/Test/second2'">Yes</button>
    <button id="no" onclick="location.href='/Test/first3'">No</button>
</div>
    <br>
    <br>

</body>
<script>
    includeHTML();
</script>
</html>