<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/color/findColor.css">
</head>
<body>
<div w3-include-html="test"></div>
<!--    <div id="circle"></div>-->

<div class="background">
    <h2>색상으로 찾습니다</h2>
    <p>가장 마음에 드는 색상 모음을 선택해주세요</p>

    <div class="p">
        <button onclick="location.href='/individual/perfume1'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume2'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume6'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume5'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume4'" class="white_box"></button>
    </div>
    <div class="p">
        <button onclick="location.href='/individual/perfume3'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume7'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume8'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume9'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume10'" class="white_box"></button>
    </div>
    <div class="p">
        <button onclick="location.href='/individual/perfume11'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume12'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume13'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume14'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume15'" class="white_box"></button>
    </div>
    <div class="p">
        <button onclick="location.href='/individual/perfume16'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume17'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume18'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume19'" class="white_box"></button>
        <button onclick="location.href='/individual/perfume20'" class="white_box"></button>
    </div>


<div class="pos">
    <span onclick="location.href='/individual/perfume1'" class="p1">
        <button id="1" class="circle" style="background-color:#ab7a54; border-color: #ab7a54;"></button>
        <button class="circle" style="background-color:#95a5bc; border-color: #95a5bc;"></button>
        <button class="circle" style="background-color:#0e1412; border-color: #0e1412;"></button>
        <button class="circle" style="background-color:#685440; border-color: #685440;"></button>
        <button class="circle" style="background-color:#828d84; border-color: #828d84;"></button>
    </span>

    <span onclick="location.href='/individual/perfume2'" class="p1">
        <button id="21" class="circle" style="background-color:#a6a8b0; border-color: #a6a8b0;"></button>
        <button id="22" class="circle" style="background-color:#f9e7de; border-color: #f9e7de;"></button>
        <button id="23" class="circle" style="background-color:#d14c82; border-color: #d14c82;"></button>
        <button id="24" class="circle" style="background-color:#59907f; border-color: #59907f;"></button>
        <button id="25" class="circle" style="background-color:#d8918b; border-color: #d8918b;"></button>
    </span>

    <span onclick="location.href='/individual/perfume6'" class="p1">
        <button id="3" class="circle" style="background-color:#3f545c; border-color: #3f545c;"></button>
        <button class="circle" style="background-color:#070807; border-color: #070807;"></button>
        <button class="circle" style="background-color:#7e756c; border-color: #7e756c;"></button>
        <button class="circle" style="background-color:#868a8e; border-color: #868a8e;"></button>
        <button class="circle" style="background-color:#dab989; border-color: #dab989;"></button>
    </span>

    <span onclick="location.href='/individual/perfume5'" class="p1">
        <button id="41" class="circle" style="background-color:#cf5053; border-color: #cf5053;"></button>
        <button id="42" class="circle" style="background-color:#836261; border-color: #836261;"></button>
        <button id="43" class="circle" style="background-color:#b3b3b3; border-color: #b3b3b3;"></button>
        <button id="44" class="circle" style="background-color:#b2a697; border-color: #b2a697;"></button>
        <button id="45" class="circle" style="background-color:#e7e2df; border-color: #e7e2df;"></button>
    </span>

    <span onclick="location.href='/individual/perfume4'" class="p1">
        <button id="51" class="circle" style="background-color:#8d584b; border-color: #8d584b;"></button>
        <button id="52" class="circle" style="background-color:#d3d7e1; border-color: #d3d7e1;"></button>
        <button id="53" class="circle" style="background-color:#c26a31; border-color: #c26a31;"></button>
        <button id="54" class="circle" style="background-color:#faacb4; border-color: #faacb4;"></button>
        <button id="55" class="circle" style="background-color:#faaaa6; border-color: #faaaa6;"></button>
    </span>
</div>

    <div class="pos2">
    <span onclick="location.href='/individual/perfume3'" class="p1">
        <button id="61" class="circle" style="background-color:#e1dfdc; border-color: #e1dfdc;"></button>
        <button id="62" class="circle" style="background-color:#d7d5d6; border-color: #d7d5d6;"></button>
        <button id="63" class="circle" style="background-color:#d7d2d0; border-color: #d7d2d0;"></button>
        <button id="64" class="circle" style="background-color:#8f7f79; border-color: #8f7f79;"></button>
        <button id="65" class="circle" style="background-color:#aaa286; border-color: #aaa286;"></button>
    </span>

        <span onclick="location.href='/individual/perfume7'" class="p1">
        <button id="71" class="circle" style="background-color:#24241f; border-color: #24241f;"></button>
        <button id="72" class="circle" style="background-color:#737163; border-color: #737163;"></button>
        <button id="73" class="circle" style="background-color:#563a2c; border-color: #563a2c;"></button>
        <button id="74" class="circle" style="background-color:#c6b352; border-color: #c6b352;"></button>
        <button id="75" class="circle" style="background-color:#376f21; border-color: #376f21;"></button>
    </span>

        <span onclick="location.href='/individual/perfume8'" class="p1">
        <button id="8" class="circle" style="background-color:#f2c8d9; border-color: #f2c8d9;"></button>
        <button class="circle" style="background-color:#e37793; border-color: #e37793;"></button>
        <button class="circle" style="background-color:#f0eeef; border-color: #f0eeef;"></button>
        <button class="circle" style="background-color:#c7987f; border-color: #c7987f;"></button>
        <button class="circle" style="background-color:#f0f0ef; border-color: #f0f0ef;"></button>
    </span>

        <span onclick="location.href='/individual/perfume9'" class="p1">
        <button id="9" class="circle" style="background-color:#292018; border-color: #292018;"></button>
        <button class="circle" style="background-color:#514c39; border-color: #514c39;"></button>
        <button class="circle" style="background-color:#0f517a; border-color: #0f517a;"></button>
        <button class="circle" style="background-color:#04101b; border-color: #04101b;"></button>
        <button class="circle" style="background-color:#40322d; border-color: #40322d;"></button>
    </span>

        <span onclick="location.href='/individual/perfume10'" class="p1">
        <button id="10" class="circle" style="background-color:#908f8e; border-color: #908f8e;"></button>
        <button class="circle" style="background-color:#25272a; border-color: #25272a;"></button>
        <button class="circle" style="background-color:#949c94; border-color: #949c94;"></button>
        <button class="circle" style="background-color:#e4e6db; border-color: #e4e6db;"></button>
        <button class="circle" style="background-color:#a2847d; border-color: #a2847d;"></button>
    </span>
    </div>

    <div class="pos3">
    <span onclick="location.href='/individual/perfume11'" class="p1">
        <button id="11" class="circle" style="background-color:#232212; border-color: #232212;"></button>
        <button class="circle" style="background-color:#a69b93; border-color: #a69b93;"></button>
        <button class="circle" style="background-color:#dba516; border-color: #dba516;"></button>
        <button class="circle" style="background-color:#f5d872; border-color: #f5d872;"></button>
        <button class="circle" style="background-color:#ec960d; border-color: #ec960d;"></button>
    </span>

        <span onclick="location.href='/individual/perfume12'" class="p1">
        <button id="12" class="circle" style="background-color:#fabebf; border-color: #fabebf;"></button>
        <button class="circle" style="background-color:#95c1d5; border-color: #95c1d5;"></button>
        <button class="circle" style="background-color:#c5c3bf; border-color: #c5c3bf;"></button>
        <button class="circle" style="background-color:#868481; border-color: #868481;"></button>
        <button class="circle" style="background-color:#e4dcdf; border-color: #e4dcdf;"></button>
    </span>

        <span onclick="location.href='/individual/perfume13'" class="p1">
        <button id="13" class="circle" style="background-color:#47b9df; border-color: #47b9df;"></button>
        <button class="circle" style="background-color:#eea123; border-color: #eea123;"></button>
        <button class="circle" style="background-color:#589a94; border-color: #589a94;"></button>
        <button class="circle" style="background-color:#93bd4b; border-color: #93bd4b;"></button>
        <button class="circle" style="background-color:#c6d684; border-color: #c6d684;"></button>
    </span>

        <span onclick="location.href='/individual/perfume14'" class="p1">
        <button id="14" class="circle" style="background-color:#89d3e8; border-color: #89d3e8;"></button>
        <button class="circle" style="background-color:#a2b26a; border-color: #a2b26a;"></button>
        <button class="circle" style="background-color:#dedfc9; border-color: #dedfc9;"></button>
        <button class="circle" style="background-color:#07616a; border-color: #07616a;"></button>
        <button class="circle" style="background-color:#c2c9c7; border-color: #c2c9c7;"></button>
    </span>

        <span onclick="location.href='/individual/perfume15'" class="p1">
        <button id="15" class="circle" style="background-color:#738a93; border-color: #738a93;"></button>
        <button class="circle" style="background-color:#125056; border-color: #125056;"></button>
        <button class="circle" style="background-color:#d88049; border-color: #d88049;"></button>
        <button class="circle" style="background-color:#e9ebea; border-color: #e9ebea;"></button>
        <button class="circle" style="background-color:#c69899; border-color: #c69899;"></button>
    </span>
    </div>

    <div class="pos4">
    <span onclick="location.href='/individual/perfume16'" class="p1">
        <button id="16" class="circle" style="background-color:#edf0f4; border-color: #edf0f4;"></button>
        <button class="circle" style="background-color:#fcfcfc; border-color: #fcfcfc;"></button>
        <button class="circle" style="background-color:#a0b6bb; border-color: #a0b6bb;"></button>
        <button class="circle" style="background-color:#c79275; border-color: #c79275;"></button>
        <button class="circle" style="background-color:#889b9e; border-color: #889b9e;"></button>
    </span>

        <span onclick="location.href='/individual/perfume17'" class="p1">
        <button id="17" class="circle" style="background-color:#a5bbd0; border-color: #a5bbd0;"></button>
        <button class="circle" style="background-color:#c5d3df; border-color: #c5d3df;"></button>
        <button class="circle" style="background-color:#becad6; border-color: #becad6;"></button>
        <button class="circle" style="background-color:#546c82; border-color: #546c82;"></button>
        <button class="circle" style="background-color:#cf5053; border-color: #cf5053;"></button>
    </span>

        <span onclick="location.href='/individual/perfume18'" class="p1">
        <button id="18" class="circle" style="background-color:#2dccdc; border-color: #2dccdc;"></button>
        <button class="circle" style="background-color:#d9af93; border-color: #d9af93;"></button>
        <button class="circle" style="background-color:#219e9a; border-color: #219e9a;"></button>
        <button class="circle" style="background-color:#80aec2; border-color: #80aec2;"></button>
        <button class="circle" style="background-color:#827c3b; border-color: #827c3b;"></button>
    </span>

        <span onclick="location.href='/individual/perfume19'" class="p1">
        <button id="19" class="circle" style="background-color:#b08d6a; border-color: #b08d6a;"></button>
        <button class="circle" style="background-color:#bbdde8; border-color: #bbdde8;"></button>
        <button class="circle" style="background-color:#b6caea; border-color: #b6caea;"></button>
        <button class="circle" style="background-color:#7ca2d0; border-color: #7ca2d0;"></button>
        <button class="circle" style="background-color:#c8ae7e; border-color: #c8ae7e;"></button>
    </span>

        <span onclick="location.href='/individual/perfume20'" class="p1">
        <button id="20" class="circle" style="background-color:#37090f; border-color: #37090f;"></button>
        <button class="circle" style="background-color:#37090f; border-color: #37090f;"></button>
        <button class="circle" style="background-color:#070707; border-color: #070707;"></button>
        <button class="circle" style="background-color:#cecece; border-color: #cecece;"></button>
        <button class="circle" style="background-color:#d5c5c2; border-color: #d5c5c2;"></button>
    </span>
    </div>

</div>
</body>
<script>
    includeHTML();
</script>
</html>