<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstQuestion</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/QuestionArea.css">
</head>
<body>
<div w3-include-html="testMiddle"></div>
    <p>나는 단색계열 옷을 즐겨 입는다.</p>
    <button onclick="location.href='/Test/ResultA'">(4-1)a</button>
    <br>
    <br>
    <button onclick="location.href='/Test/fourth2'">(4-1)b</button>
    <br>
    <br>

</body>
<script>
    includeHTML();
</script>
</html>