<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/Individual/individual.css">
</head>
<body>
    <div w3-include-html="test"></div>
<!--    <div id="circle"></div>-->

    <div class="background">
        <div id="circle">
            <img id="perfume_img" src="/images/perfume1/8.png" alt="">
        </div>

        <div class="button_pos">
            <div id="b1">
                <button class="btn">향수명</button>
                <span class="sa">라 튤립 오 드 퍼퓸</span>
            </div>
            <div id="b2">
                <button class="btn">용량</button>
                <span class="sa">50ml</span>
            </div>
            <div id="b3">
                <button class="btn">키워드</button>
                <span class="sa">
                    <button class="btn2">#순수한</button>
                    <button class="btn2">#깨끗한</button>
                    <button class="btn2">#청량한</button>
                    <button class="btn2">#상쾌한</button>
                    <button class="btn2">#정돈된</button>
                </span>
            </div>
            <div id="b4">
                <button class="btn">설명</button>
                <span class="sa">한 계절에 처음 맺는 꽃 봉오리처럼 활기넘치고 매력적인 낙천적인 느낌의 향수</span>
            </div>
        </div>
    </div>
</body>
<script>
    includeHTML();
</script>
</html>