<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/Individual/individual.css">
</head>
<body>
    <div w3-include-html="test"></div>
<!--    <div id="circle"></div>-->

    <div class="background">
        <div id="circle">
            <img id="perfume_img" src="/images/perfume3/13.png" alt="">
        </div>

        <div class="button_pos">
            <div id="b1">
                <button class="btn">향수명</button>
                <span class="sa">아쿠아 알레고리아 페라 그라니타 오 드 뚜왈렛</span>
            </div>
            <div id="b2">
                <button class="btn">용량</button>
                <span class="sa">75ml</span>
            </div>
            <div id="b3">
                <button class="btn">키워드</button>
                <span class="sa">
                    <button class="btn2">#화려한</button>
                    <button class="btn2">#강한</button>
                    <button class="btn2">#쨍한</button>
                    <button class="btn2">#세련된</button>
                    <button class="btn2">#눈부신</button>
                </span>
            </div>
            <div id="b4">
                <button class="btn">설명</button>
                <span class="sa">상큼한 셔벗이 떠오르는 자몽,레몬 노트가 가득한 페어로 녹아들고 오스만투스가 감미롭운 향을 완성</span>
            </div>
        </div>
    </div>
</body>
<script>
    includeHTML();
</script>
</html>