<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/pageHeader.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Open+Sans:ital,wght@0,400;0,500;1,400&family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="head">
            <a href="/"><img src="/images/title.png"></a>
            <span class="menu"><a class="color" href="">About</a></span>
            <span class="menu"><a class="color" href="">Test</a></span>
            <span class="menu2"><a class="color2" href="/Test/start">text / </a></span>
            <span class="menu2"><a class="color2" href="/color/find">color / </a></span>
            <span class="menu2"><a class="color2" href="/image/find">key Words & Images</a></span>
            <span id="search"><input type="text"></span>
            <span class="log">
                <button id="login">로그인</button>
                <button id="signup">회원가입</button>
            </span>
        </div>
    </header>
<!--    <hr>-->
</body>
</html>