<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstQuestion</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/QuestionArea.css">
</head>
<body>
<div w3-include-html="testMiddle"></div>
<p>나는 딸기의 달달함보다 바닐라의 달달함이 좋다.</p>
    <button onclick="location.href='/Test/second4'">(2-3)a</button>
    <br>
    <br>
    <button onclick="location.href='/Test/third2'">(2-3)b</button>
    <br>
    <br>

</body>
<script>
    includeHTML();
</script>
</html>