<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstQuestion</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/QuestionArea.css">
</head>
<body>
<div w3-include-html="testMiddle"></div>
<p>나는 딸기의 달달함보다 바닐라의 달달함이 좋다.</p>
<div class="button_div">
    <button id="yes" onclick="location.href='/Test/second4'">Yes</button>
    <button id="no" onclick="location.href='/Test/third2'">No</button>
</div>

</body>
<script>
    includeHTML();
</script>
</html>