<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/KeyWord/keyword.css">
</head>
<body>
    <div w3-include-html="test"></div>
    <div class="pos">
        <button class="btn">#사랑스러운</button>
        <button class="btn">#따뜻한</button>
        <button class="btn">#밝은</button>
        <button class="btn">#귀여운</button>
        <button class="btn">#부드러운</button>
    </div>
    <div>
<!--        <li><a href="#"><img src="images/loginPassword.png"><span>로그인</span></a></li>-->
        <div class="img_pos">
            <span id="num1"><a href="/individual/perfume2"><img class="perfume" src="/images/perfume2/2.png" align="bottom"></a></span>
            <span id="num2"><a href="/individual/perfume5"><img class="perfume" src="/images/perfume2/4.png" alt=""></a></span>
            <span id="num3"><a href="/individual/perfume9"><img class="perfume" src="/images/perfume2/9.png" alt=""></a></span>
        </div>
        <div class="img_pos2">
            <span id="num4"><a href="/individual/perfume12"><img class="perfume2" src="/images/perfume2/12.png" alt=""></a></span>
            <span id="num5"><a href="/individual/perfume15"><img class="perfume2" src="/images/perfume2/15.png" alt=""></a></span>
        </div>

        <div class="background">
            <div class="name_pos">
                <span id="name11">미스 디올 블루밍 부케 롤러 펄 오 드 뚜왈렛</span>
                <span id="name22">샹스 오 땅드르 오 드 빠르펭</span>
                <span id="name33">롬브르 단 로 오 드 퍼퓸</span>
            </div>
            <div class="name_pos2">
                <span id="name4">모던 프린세스 오 드 퍼퓸</span>
                <span id="name7">럭키위시 오 드 뚜왈렛</span>
<!--                <span id="name6">향수이름6</span>-->
        </div>
    </div>

</body>
<script>
    includeHTML();
</script>
</html>