<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/KeyWord/keyword.css">
</head>
<body>
    <div w3-include-html="test"></div>
    <div class="pos">
        <button class="btn">#순수한</button>
        <button class="btn">#깨끗한</button>
        <button class="btn">#청량한</button>
        <button class="btn">#상쾌한</button>
        <button class="btn">#정돈된</button>
    </div>
    <div>
        <div class="img_pos">
            <span id="num1"><img class="perfume" src="/images/perfume1/5.png" alt=""></span>
            <span id="num2"><img class="perfume" src="/images/perfume1/7.png" alt=""></span>
            <span id="num3"><img class="perfume" src="/images/perfume1/8.png" alt=""></span>
        </div>
        <div class="img_pos2">
            <span id="num4"><img class="perfume2" src="/images/perfume1/14.png" alt=""></span>
            <span id="num6"><img class="perfume2" src="/images/perfume1/16.png" alt=""></span>
            <span id="num7"><img class="perfume2" src="/images/perfume1/18.png" alt=""></span>
        </div>
        <div class="background">
        </div>
    </div>
</body>
<script>
    includeHTML();
</script>
</html>