<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/KeyWord/keyword.css">
</head>
<body>
    <div w3-include-html="test"></div>
    <div class="pos">
        <button class="btn">#화려한</button>
        <button class="btn">#강한</button>
        <button class="btn">#쨍한</button>
        <button class="btn">#세련된</button>
        <button class="btn">#눈부신</button>
    </div>
    <div>
        <div class="img_pos">
            <span id="num1"><a href="/individual/perfume6"><img class="perfume" src="/images/perfume3/3.png" alt=""></a></span>
            <span id="num2"><a href="/individual/perfume3"><img class="perfume_special2" src="/images/perfume3/6.png" alt=""></a></span>
            <span id="num3"><a href="/individual/perfume10"><img class="perfume" src="/images/perfume3/10.png" alt=""></a></span>
        </div>
        <div class="img_pos2">
            <span id="num4"><a href="/individual/perfume13"><img class="perfume2" src="/images/perfume3/13.png" alt=""></a></span>
            <span id="num5"><a href="/individual/perfume20"><img class="perfume2" src="/images/perfume3/20.png" alt=""></a></span>
        </div>
        <div class="background">
            <div class="name_pos">
                <span id="name1">밤쉘</span>
                <span id="name222">터치포맨오드뚜왈렛</span>
                <span id="name3">오 드 뚜왈렛</span>
            </div>
            <div class="name_pos2">
                <span id="name4">아쿠아 알레고리아 페라 그라니타 오 드 뚜왈렛</span>
                <span id="name7">플로라 바이 구찌 아름다운 가르데니아 오 드 뚜왈렛</span>
        </div>
    </div>
</body>
<script>
    includeHTML();
</script>
</html>