<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/includeHTML.js"></script>
    <link rel="stylesheet" href="/css/KeyWord/keyword.css">
</head>
<body>
    <div w3-include-html="test"></div>
    <div class="pos">
        <button class="btn">#무거운</button>
        <button class="btn">#시니컬한</button>
        <button class="btn">#차가운</button>
        <button class="btn">#중성적인</button>
        <button class="btn">#도시의</button>
    </div>
    <div>
        <div class="img_pos">
            <span id="num8"><img class="perfume" src="/images/perfume4/1.png" alt=""></span>
            <span id="num9"><img class="perfume" src="/images/perfume4/11.png" alt=""></span>
        </div>
        <div class="img_pos2">
            <span id="num4"><img class="perfume2" src="/images/perfume4/17.png" alt=""></span>
            <span id="num5"><img class="perfume2" src="/images/perfume4/19.png" alt=""></span>
        </div>
        <div class="background">
        </div>
    </div>
</body>
<script>
    includeHTML();
</script>
</html>